/* The sidebar menu */
.toolnav {
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 44px; /* Stay at the top */
	right: 0px;
	bottom: 0px;
	background-color: var(--nav-bg-color); /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
}